@page
@model SeoChecker.Pages.ResultsModel
@{
}
<h1>SEO Rank Checker</h1>
<form method="post">
    <label>Keywords:</label>
    <input type="text" name="Keywords" />
    <label>URL:</label>
    <input type="text" name="Url" />
    <button type="submit">Search</button>
</form>